header
{background-color:#ff9933;
height:250px;}

nav{
	position:relative;
	top:52px;
}

nav ul li
{display:inline;}

nav ul li {text-decoration:none;
background-color:#9900cc;
color:#ffffff;
border-radius: 8px 8px 0px 0px;
padding: 10px 25px 10px 25px;}

P{ color:#9900cc; }

.button
{ text-decoration: none;
background-color: #ff9933 ;
color: #9900cc;
padding: 10px 25px 10px 25px;
border-radius:8px;
}


.button:hover { text-decoration: none;
background-color: #9900cc;
color: #ff9933;
padding: 10px 25px 10px 25px;
border-radius:8px;
}
footer{
	background-color:#ff9933;
	padding:25px;
	margin-top:20px;
}
footer p{
	color:#ffffff;
	text-align:center;
	
}